<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Fuck BUAA JiaoWu</title>
  <link rel="stylesheet" href={{ url_for("static", filename='css/style.css') }}>
  <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>登录北航教务</h1>
      <form action="login" method="post" role="loginForm">
          {{ loginForm.hidden_tag() }}
        <p><input type="text" name="username" value="" placeholder="学号"></p>
        <p><input type="password" name="password" value="" placeholder="密码"></p>
        <p class="remember_me">
          <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            记住登录
          </label>
        </p>
        <p class="submit"><input type="submit" name="commit" value="获取课表"></p>
      </form>
    </div>

    <div class="login-help">
      <p>忘记密码？ <a href="index.html">点击重置密码</a>.</p>
    </div>
  </section>

  <section class="about">
    <p class="about-links">
      <a href="http://blog.yinwoods.com" target="_parent">yinwoods</a>
      <a href="http://github.com/yinwoods" target="_parent">download</a>
    </p>
    <p class="about-author">
      &copy; 2016&ndash;2016 <a href="http://thibaut.me" target="_blank">Thibaut Courouble</a> -
      <a href="http://www.cssflow.com/mit-license" target="_blank">MIT License</a><br>
      Original PSD by <a href="http://www.premiumpixels.com/freebies/clean-simple-login-form-psd/" target="_blank">Orman Clark</a>
  </section>
</body>
</html>
